<table style="width:75%">
  <tr>
    <td>ID</td>
    <td>Location</td>
    <td>Depth [m]</td>
    <td>Well Color</td>
  </tr>
  <tr>
    <td><%= @request.id %></td>
    <td><%= @request.location %></td>
    <td><%= @request.depth %></td>
    <td><%= @request.color %></td>
  </tr>
</table>

<p> Here will be an evaluation of the risk based on the entry. E.g. if a high arsenic zone was selected, and the color of the well were red, then there is a 'High Risk' of Arsenic poisoning to those using the well.</p>

<p> Once the database is connected, the form entries will be used to query and allocate the risk</p>