<table style="width:75%">
  <tr>
    <td>ID</td>
    <td>Location</td>
    <td>Depth [m]</td>
    <td>Well Color</td>
  </tr>
  <tr>
    <td><%= @request.id %></td>
    <td><%= @request.location %></td>
    <td><%= @request.depth %></td>
    <td><%= @request.color %></td>
  </tr>
</table>